<!doctype html>
<html lang="en">
  <head>
    <title>NFL General Manager 20</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sign-up.css') }}">
    <!-- Logo -->
    <link rel="icon" href="/static/images/icon.png">
</head>
  <body>
    <main>
    <div class="container mainview">
        <div class="row h-100">
            <div class="col-1"></div>
            <div class="col-10 col-md-5 col-lg-5 col-xl-4 text-center bg-light my-auto">
                <!--Section: Live preview-->
                <section>
        
                <!-- Default form register -->
                <form class="text-center border border-light p-3">
        
                    <p class="h4 mb-2">NFL GM 20</p>
                    <p class="h7 mb-2">Sign up for your free NFL GM 20 Account to access all of its features, or take a look at the <a href="" target="_blank">Demo</a>.</p>

                    <div class="form-row mb-2">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                    </div>
                    </div>
        
                    <!-- E-mail -->
                    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-2" placeholder="E-mail">
        
                    <!-- Password -->
                    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2">
                    At least 8 characters and 1 digit
                    </small>
        
                    <!-- Phone number -->
                    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-2">
                    Optional - for two step authentication
                    </small>
        
                    <!-- Newsletter -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                    </div>
        
                    <!-- Sign up button -->
                    <button class="btn btn-info my-1 btn-block waves-effect waves-light" type="submit">Sign up</button>
                    <p style="font-size: 0.6rem;">Or click
                    <a href="{{url_for('login')}}">Log in</a> if you already have an account.</p>
                
                    <!-- Terms of service -->
                    <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>.
        
                </p></form>
                <!-- Default form register -->
        
                </section>
                <!--Section: Live preview-->

            </div>

            <div class="col-1 col-md-7 col-lg-7 col-xl-8"></div>
        </div>
    </div>
    <footer>
    <div class="container">
        <div class="row mb-2">
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">ABOUT&nbsp;US</a>
            </div>
            <div class="col-4 col-md-1 footer-elements">  
                <a href="#" target="_blank">HELP</a>
            </div>
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">PRESS</a>
            </div> 
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">API</a>
            </div> 
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">JOBS</a>
            </div> 
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">PRIVACY</a>
            </div> 
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">TERMS</a>
            </div> 
            <div class="col-4 col-md-1 footer-elements">
                <a href="#" target="_blank">LANGUAGE</a>
            </div> 
            <div class="col-12 col-md-4 footer-elements text-right">
                <a href="#">© 2020 NFL GM</a>
            </div>
        </div>
    </div>
    </footer>
    </main>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Tributes -->
<!-- Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
<!-- NFL.com  -->